.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 1.0625em;
  line-height: 26px;
  text-transform: uppercase;
  /* Use a radial gradient as the background */

  /* Add a box shadow with some blur and spread */
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  --webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  border-bottom: solid grey important;
}

.nav-link {
  font-weight: 300 important;
}

.active {
  border-bottom: 0.2rem solid black;
  margin-right: 5px;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 0.1rem;
}


